<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
      <div style="display: inline-block;">
        <h1>Shuangyu Cai</h1>
        <h2>蔡双羽</h2>
      </div>
      <div style="display: inline-block;">
        <a href="{{ site.github.repository_url }}" class="btn btn-github">Home</a>
      </div>
      <div style="display: inline-block;">
        <a href="{{ site.github.repository_url }}/pub" class="btn btn-github">publications</a>
      </div>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
